body{

    background-color:#BBBBBB;
    background-image:url("../images/sfondoGmail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main-view {
    width: 1000px;
    margin: auto;

}

header{
    margin: auto;
    height: 65px;
}


#rightHeader{
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}

#logo{
    height: 45px;
    margin-left: 25px;
    margin-right: 3px;
}



 .hamburgerMenu{

     height: 25px;
     padding-bottom: 10px;
 }

 #search{
     display:inline-block;
     margin: 15px 75px;
     height: 50px;
     width: 600px;
     background-color: rgba(255, 255, 255, 0.3);
     border-radius: 15px;
 }

 #searchInput{
     height: 50px;
     font-size: 20px;
     box-sizing: border-box;
     padding-top: 10px;

}
 #searchForm{
     margin: auto;
 }

input {
    color: white;

    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}
::placeholder{
    color: white;
}
 #searchButton{
     display: inline-block;
     margin-left: 450px;
     text-align: right;
     background-image: url("../images/searchButton.png");
     background-size: 15px;
     border: none;
     background-repeat: no-repeat;
 }

 hr{
     border: 1px solid rgba(255, 255, 255, 0.5);
 }

 .emailRow{

     height: 25px;
     border: 1px solid rgba(0, 0, 0, 0.6);
 }

 .even{
     background-color: rgba(200,200,200, 0.8);
 }

 .odd {
     background-color: rgba(241,241,241, 0.8);
 }
